<package-def>
	<class name="Валидатор" file="src/Классы/Валидатор.os"/>
	<class name="ВалидацияОграничения" file="src/Классы/ВалидацияОграничения.os"/>
	<class name="ВалидацияОграниченияВалидно" file="src/Классы/ВалидацияОграниченияВалидно.os"/>
	<class name="ВалидацияОграниченияЗаполнено" file="src/Классы/ВалидацияОграниченияЗаполнено.os"/>
	<class name="Нарушение" file="src/Классы/Нарушение.os"/>
	<class name="Ограничение" file="src/Классы/Ограничение.os"/>
	<class name="ОграничениеВалидно" file="src/Классы/ОграничениеВалидно.os"/>
	<class name="ОграничениеЗаполнено" file="src/Классы/ОграничениеЗаполнено.os"/>
</package-def>